@import "_header";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .title {
    font-size: 55px;
    color: #ce4708;
  }
  .text {
    font-size: 25px;
    color: #666666;
  }
}
