body {
  background-color: #f15d5d;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .title {
  font-size: 55px;
  color: #ce4708;
}

body .text {
  font-size: 25px;
  color: #666666;
}
